[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "modules/minecraft"]
	path = modules/minecraft
	url = https://github.com/voxpupuli/puppet-minecraft
[submodule "modules/java"]
	path = modules/java
	url = https://github.com/puppetlabs/puppetlabs-java
[submodule "modules/archive"]
	path = modules/archive
	url = https://github.com/voxpupuli/puppet-archive
